<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js">-->
<!--</script>-->
<body>
这是注册成功，跳转的页面！！
<form action="/front/login" name="loginfrom" accept-charset="utf-8" method="post">
<input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="退出登录"/>
</form>
<form action="/course" name="loginfrom" accept-charset="utf-8" method="get">
    <input type="submit" id="course"  style="margin-top:20px;margin-left:100px;" class="button_blue" value="查询选课"/>
</form>
<form action="/course/score" name="loginfrom" accept-charset="utf-8" method="get">
    <input type="submit" id="course_score"  style="margin-top:20px;margin-left:100px;" class="button_blue" value="查询成绩"/>
</form>
</body>
</html>

